
                    <td style="width:400px" align="center">
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            通霄車站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            竹南車站<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午2:39<br>
                            <br>
                            莒光號562<br>
                            <br>
                            下午3:12<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            31
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            竹南車站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            豐富<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午3:27<br>
                            <br>
                            復興/區間1187<br>
                            <br>
                            下午3:37<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            8
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            高鐵苗栗站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            高鐵台中站<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午3:58<br>
                            <br>
                            高鐵837<br>
                            <br>
                            下午4:15<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            {'標準車廂': 135, '商務車廂': 305, '自由座': 130}
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            高鐵台中站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            新左營站<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午4:20<br>
                            <br>
                            高鐵141<br>
                            <br>
                            下午5:05<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            {'標準車廂': 395, '商務車廂': 695, '自由座': 380}
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            左營 / 高鐵<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            美麗島站<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午5:13<br>
                            <br>
                            紅線<br>
                            <br>
                            下午5:24<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            市內公車、捷運票價依各縣市不同
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            美麗島站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            西子灣站<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午5:32<br>
                            <br>
                            橘線<br>
                            <br>
                            下午5:38<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            市內公車、捷運票價依各縣市不同
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            捷運西子灣站(輕軌哈瑪星站)<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            中山大學行政大樓<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午5:55<br>
                            <br>
                            公車橘1A<br>
                            <br>
                            下午6:07<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            市內公車、捷運票價依各縣市不同
                    </td>
                </table>
            <p valign="bottom">
                <table style="width:400px" align="left">
                            票種:   優待票<br>
                            總價:   [434, 734, 419]<br>
            </table>
        </p>
                    <td style="width:400px" align="center">
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            通霄車站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            竹南車站<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午2:39<br>
                            <br>
                            莒光號562<br>
                            <br>
                            下午3:12<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            31
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            竹南車站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            豐富<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午3:27<br>
                            <br>
                            復興/區間1187<br>
                            <br>
                            下午3:37<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            8
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            高鐵苗栗站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            高鐵台中站<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午3:58<br>
                            <br>
                            高鐵837<br>
                            <br>
                            下午4:15<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            {'標準車廂': 135, '商務車廂': 305, '自由座': 130}
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            高鐵台中站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            新左營站<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午4:20<br>
                            <br>
                            高鐵141<br>
                            <br>
                            下午5:05<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            {'標準車廂': 395, '商務車廂': 695, '自由座': 380}
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            左營 / 高鐵<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            美麗島站<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午5:13<br>
                            <br>
                            紅線<br>
                            <br>
                            下午5:24<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            市內公車、捷運票價依各縣市不同
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            美麗島站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            西子灣站<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午5:32<br>
                            <br>
                            橘線<br>
                            <br>
                            下午5:38<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            市內公車、捷運票價依各縣市不同
                    </td>
                </table>
            <p valign="bottom">
                <table style="width:400px" align="left">
                            票種:   優待票<br>
                            總價:   [434, 734, 419]<br>
            </table>
        </p>
                    <td style="width:400px" align="center">
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            通霄車站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            新烏日火車站<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午4:10<br>
                            <br>
                            復興/區間2623<br>
                            <br>
                            下午5:24<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            39
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            高鐵台中站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            新左營站<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午5:40<br>
                            <br>
                            高鐵1241<br>
                            <br>
                            下午6:30<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            {'標準車廂': 395, '商務車廂': 695, '自由座': 380}
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            左營 / 高鐵<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            美麗島站<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午6:38<br>
                            <br>
                            紅線<br>
                            <br>
                            下午6:49<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            市內公車、捷運票價依各縣市不同
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            美麗島站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            西子灣站<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午6:56<br>
                            <br>
                            橘線<br>
                            <br>
                            下午7:02<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            市內公車、捷運票價依各縣市不同
                    </td>
                </table>
            <p valign="bottom">
                <table style="width:400px" align="left">
                            票種:   優待票<br>
                            總價:   [434, 734, 419]<br>
            </table>
        </p>
                    <td style="width:400px" align="center">
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            通霄車站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            新烏日火車站<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午4:10<br>
                            <br>
                            復興/區間2623<br>
                            <br>
                            下午5:24<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            39
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            高鐵台中站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            新左營站<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午5:40<br>
                            <br>
                            高鐵1241<br>
                            <br>
                            下午6:30<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            {'標準車廂': 395, '商務車廂': 695, '自由座': 380}
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            左營 / 高鐵<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            美麗島站<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午6:38<br>
                            <br>
                            紅線<br>
                            <br>
                            下午6:49<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            市內公車、捷運票價依各縣市不同
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            美麗島站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            西子灣站<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午6:56<br>
                            <br>
                            橘線<br>
                            <br>
                            下午7:02<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            市內公車、捷運票價依各縣市不同
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            捷運西子灣站(輕軌哈瑪星站)<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            中山大學行政大樓<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午7:34<br>
                            <br>
                            公車橘1A<br>
                            <br>
                            下午7:46<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            市內公車、捷運票價依各縣市不同
                    </td>
                </table>
            <p valign="bottom">
                <table style="width:400px" align="left">
                            票種:   優待票<br>
                            總價:   [434, 734, 419]<br>
            </table>
        </p>