
             </tr>
        </table>
    </p>
        <p>
        訂票連結:<br>
        長途客運及市內公車尚無一統合線上訂票系統<br>
        台鐵訂票系統: 
        <a target = "_blank" href='https://www.railway.gov.tw/tra-tip-web/tip/tip001/tip123/query'>
            <input type=button value = 訂票去! onclick="window.open.href()">
        </a><br>
        高鐵訂票系統: 
        <a target = "_blank" href='https://irs.thsrc.com.tw/IMINT/'>
            <input type=button value = 訂票去! onclick="window.open.href()">
        </a>
    </p>
    </form>
</body>
</html>