<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail_display</title>
</head>
<body>
    <table width ="100%" style ="table-layout:fixed;word-break:break-all;background:#f2f2f2">
        <tr>
            <td width ="10%">
                {{station[0]}}<br>
                &emsp;&emsp;|<br>
                &emsp;&emsp;|<br>
                &emsp;&emsp;|<br>
                {{station[1]}}<br>
                <br>
            </td>
            <td width ="30%">
                {{time[0]}} <br>
                <br>
                {{carnumber[0]}}<br>
                <br>
                {{time[1]}}<br>
                <br>
            </td>
            <td width ="30%">
                {{pricelist[0]}}
            </td>
            <td width ="30%">
                <a target = "_blank" href="https://www.railway.gov.tw/tra-tip-web/tip/tip001/tip123/query">
                    <input type=button value = "台鐵訂票去!" onclick="window.open.href('https://www.railway.gov.tw/tra-tip-web/tip/tip001/tip123/query')">
                </a>
            </td>
        </tr>
    </table>
    <table width ="100%" style ="table-layout:fixed;word-break:break-all;background:#f2f2f2">
        <tr>
            <td width ="10%">
                <br>
                {{station[2]}}<br>
                &emsp;&emsp;| <br>
                &emsp;&emsp;| <br>
                &emsp;&emsp;| <br>
                {{station[3]}}<br>
            </td>
            <td width ="30%">
                <br>
                {{time[2]}}<br>
                <br>
                {{carnumber[1]}}<br>
                <br>
                {{time[3]}}<br>
            </td>
            <td width ="30%">
                {{pricelist[1]}}
            </td>
            <td width ="30%">
                <a target = "_blank" href="https://irs.thsrc.com.tw/IMINT/">
                    <input type=button value = "高鐵訂票去!" onclick="window.open.href('https://irs.thsrc.com.tw/IMINT/')">
                </a>
            </td>
        </tr>
    </table>
    <table width ="100%" style ="table-layout:fixed;word-break:break-all;background:#f2f2f2">
        <tr>
            <td width ="10%">
                <br>
                {{station[4]}}<br>
                &emsp;&emsp;| <br>
                &emsp;&emsp;| <br>
                &emsp;&emsp;| <br>
                {{station[5]}}<br>
            </td>
            <td width ="30%">
                <br>
                {{time[4]}}<br>
                <br>
                {{carnumber[2]}}<br>
                <br>
                {{time[5]}}<br>
            </td>
            <td width ="30%">
                {{pricelist[2]}}
            </td>
            <td width ="30%">
                <a target = "_blank" href="https://www.railway.gov.tw/tra-tip-web/tip/tip001/tip123/query">
                    <input type=button value = "台鐵訂票去!" onclick="window.open.href('https://www.railway.gov.tw/tra-tip-web/tip/tip001/tip123/query')">
                </a>
            </td>
        </tr>
    </table>
</body>
</html>