<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Route Details</title>
</head>
<body>
    <form method='post' action={{ url_for('routechoices') }} align="center"> 
        <p align="center">
        交通資訊<br>
        此條路線是你心儀的嗎?
    </p>
        <p>
            <table style="border:1px white;background-color:#f2f2f2; width:1000px" align="center" border='1'>
                <td style="width:500px" align="center" valign="center" >
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:250px" align="center" valign="center" border = '0'>站點</td>
                        <td style="width:250px" align="center" valign="center" border = '0'>時間</td>
                        <td style="width:250px" align="center" valign="center" border = '0'>票價</td>
                        <td style="width:250px" align="center" valign="center" border = '0'>購票</td>               
                    </table>
                </td>
                <tr>

                    <td style="width:500px" align="center" valign="center" >
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:250px" align="center" valign="center">
                            桃園市政府<br>
                            &emsp;|<br>
                            &emsp;|<br>
                            &emsp;|<br>
                            桃園火車站<br>
                            <br>
                    </td>
                        <td style="width:250px" align="center" valign="center">
                            上午11:17<br>
                            <br>
                            BUS L112<br>
                            <br>
                            上午11:25<br>
                            <br>
                    </td>
                        <td style="width:250px" align="center" valign="center">
                            價錢: 市內公車票價依各縣市不同
                    </td>
                        <td style="width:250px" align="center" valign="center">
                            尚無線上訂票系統
                    </td>
                </table>

                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:250px" align="center" valign="center">
                            桃園車站<br>
                            &emsp;|<br>
                            &emsp;|<br>
                            &emsp;|<br>
                            臺中車站<br>
                            <br>
                    </td>
                        <td style="width:250px" align="center" valign="center">
                            上午11:30<br>
                            <br>
                            自強號 121<br>
                            <br>
                            下午1:13<br>
                            <br>
                    </td>
                        <td style="width:250px" align="center" valign="center">
                            價錢: 308
                    </td>
                        <td style="width:250px" align="center" valign="center">
                            <a target = "_blank" href = https://www.railway.gov.tw/tra-tip-web/tip/tip001/tip123/query>
                                <input type=button value = 訂票去! onclick="window.open.href()">
                            </a>
                    </td>
                </table>

                    <table style="width:1000px" align="center" valign="center">
                        <td style="width:250px" align="center" valign="center"></td>
                        <td style="width:250px" align="center" valign="center"></td>
                        <td style="width:250px" align="center" valign="center">
                            全票 總價: 308
                        </td>
                        <td></td>
                </table>
             </tr>
        </table>
    </p>
    </form>
</body>
</html>