<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Route Details</title>
</head>
<body>
    <form method='post'> 
        <p align="center">
        乘車路線<br>
        此條路線是你心儀的嗎?
    </p>
        <p>
            <table style="border:1px white;background-color:#f2f2f2; width:1000px" align="center" border='1'>
                <td style="width:500px" align="center" valign="center" >
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:250px" align="center" valign="center" border = '0'>站點</td>
                        <td style="width:250px" align="center" valign="center" border = '0'>時間</td>
                        <td style="width:250px" align="center" valign="center" border = '0'>票價</td>
                        <td style="width:250px" align="center" valign="center" border = '0'>購票</td>               
                    </table>
                </td>
                <tr>
