
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:250px" align="center" valign="center">
                            startstation<br>
                            &emsp;|<br>
                            &emsp;|<br>
                            &emsp;|<br>
                            endstation<br>
                            <br>
                    </td>
                        <td style="width:250px" align="center" valign="center">
                            starttime<br>
                            <br>
                            transtype<br>
                            <br>
                            endtime<br>
                            <br>
                    </td>
                        <td style="width:250px" align="center" valign="center">
                            價錢: price
                    </td>
                        <td style="width:250px" align="center" valign="center">
                            hyperlink
                    </td>
                </table>
