
                    <td style="width:500px" align="center" valign="center" >
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:250px" align="center" valign="center">
                            松山車站<br>
                            &emsp;|<br>
                            &emsp;|<br>
                            &emsp;|<br>
                            板橋車站<br>
                            <br>
                    </td>
                        <td style="width:250px" align="center" valign="center">
                            上午9:16<br>
                            <br>
                            復興/區間 1147<br>
                            <br>
                            上午9:34<br>
                            <br>
                    </td>
                        <td style="width:250px" align="center" valign="center">
                            價錢: 20
                    </td>
                        <td style="width:250px" align="center" valign="center">
                            <a target = "_blank" href = https://www.railway.gov.tw/tra-tip-web/tip/tip001/tip123/query>
                                <input type=button value = 訂票去! onclick="window.open.href()">
                            </a>
                    </td>
                </table>

                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:250px" align="center" valign="center">
                            板橋車站<br>
                            &emsp;|<br>
                            &emsp;|<br>
                            &emsp;|<br>
                            新左營站<br>
                            <br>
                    </td>
                        <td style="width:250px" align="center" valign="center">
                            上午9:39<br>
                            <br>
                            高鐵 117<br>
                            <br>
                            上午11:05<br>
                            <br>
                    </td>
                        <td style="width:250px" align="center" valign="center">
                            價錢: {'標準車廂': 1460, '商務車廂': 2390, '自由座': 1415}
                    </td>
                        <td style="width:250px" align="center" valign="center">
                            <a target = "_blank" href = https://irs.thsrc.com.tw/IMINT/>
                                <input type=button value = 訂票去! onclick="window.open.href()">
                            </a>
                    </td>
                </table>

                    <table style="width:1000px" align="center" valign="center">
                        <td style="width:250px" align="center" valign="center"></td>
                        <td style="width:250px" align="center" valign="center"></td>
                        <td style="width:250px" align="center" valign="center">
                            全票 總價: [1480, 2410, 1435]
                        </td>
                        <td></td>
                </table>