<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TaiwanGo RouteChoices</title>
</head>
<body>
    <form method='post' action={{ url_for('routechoices') }} align="center"> 
        <p align="center">
        Route Choices<br>
        Choose the one you are interested in! 
    </p>
        <p>
            <table style="border:1px white;background-color:#f2f2f2;height:450px" align="center" border='1'>
                <tr>

                    <td style="width:250px" align="center" valign="center">
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:125px" align="center" valign="center">
                            松山車站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            台北車站<br>
                            <br>
                    </td>
                        <td style="width:125px" align="center" valign="center">
                            下午12:35<br>
                            <br>
                            自強號271<br>
                            <br>
                            下午12:42<br>
                            <br>
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:125px" align="center" valign="center">
                            台北車站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            高鐵台南站<br>
                            <br>
                    </td>
                        <td style="width:125px" align="center" valign="center">
                            下午12:46<br>
                            <br>
                            高鐵639<br>
                            <br>
                            下午2:32<br>
                            <br>
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:125px" align="center" valign="center">
                            沙崙車站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            台南車站<br>
                            <br>
                    </td>
                        <td style="width:125px" align="center" valign="center">
                            下午2:47<br>
                            <br>
                             復興/區間3744<br>
                            <br>
                            下午3:10<br>
                            <br>
                    </td>
                </table>
                    <p>半票:  $ 最低總價 起
                </p>
                    <p><button name='route1' type='submit'>GO for it</button>
                </p>
                </td>
                    <p><button name='route1' type='submit'>GO for it</button>
                </p>
                </td>
             </tr>
        </table>
    </p>
    </form>
</body>
</html>