<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TaiwanGo RouteChoices</title>
</head>
<body>
    <form method='post' action={{ url_for('routechoices') }} align="center"> 
        <p align="center">
        Route Choices<br>
        Choose the one you are interested in! 
    </p>
        <p>
            <table style="border:1px white;background-color:#f2f2f2;height:450px" align="center" border='1'>
                <tr>
                    <td style="width:250px" align="center" valign="center">
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:125px" align="center" valign="center">
                            startstation<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            endstation<br>
                            <br>
                    </td>
                        <td style="width:125px" align="center" valign="center">
                            starttime<br>
                            <br>
                            transtype<br>
                            <br>
                            endtime<br>
                            <br>
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:125px" align="center" valign="center">
                            startstation<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            endstation<br>
                            <br>
                    </td>
                        <td style="width:125px" align="center" valign="center">
                            starttime<br>
                            <br>
                            transtype<br>
                            <br>
                            endtime<br>
                            <br>
                    </td>
                </table>
                    <p><button name='route1' type='submit'>GO for it</button>
                </p>
                </td>
             </tr>
        </table>
    </p>
    </form>
</body>
</html>