
                    <td style="width:250px" align="center" valign="center">
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:125px" align="center" valign="center">
                            桃園市政府<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            桃園火車站<br>
                            <br>
                    </td>
                        <td style="width:125px" align="center" valign="center">
                            上午11:17<br>
                            <br>
                            客運112<br>
                            <br>
                            上午11:25<br>
                            <br>
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:125px" align="center" valign="center">
                            桃園車站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            臺中車站<br>
                            <br>
                    </td>
                        <td style="width:125px" align="center" valign="center">
                            上午11:30<br>
                            <br>
                            自強號121<br>
                            <br>
                            下午1:13<br>
                            <br>
                    </td>
                </table>
                    <p>半票:  $154起
                </p>
                    <p><button name='route1' type='submit'> 路線1 </button>
                </p>
                </td>
                    <td style="width:250px" align="center" valign="center">
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:125px" align="center" valign="center">
                            桃園車站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            臺中車站<br>
                            <br>
                    </td>
                        <td style="width:125px" align="center" valign="center">
                            上午11:30<br>
                            <br>
                             自強號121<br>
                            <br>
                            下午1:13<br>
                            <br>
                    </td>
                </table>
                    <p>半票:  $154起
                </p>
                    <p><button name='route2' type='submit'> 路線2 </button>
                </p>
                </td>
                    <td style="width:250px" align="center" valign="center">
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:125px" align="center" valign="center">
                            桃園市政府<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            桃園火車站<br>
                            <br>
                    </td>
                        <td style="width:125px" align="center" valign="center">
                            上午11:33<br>
                            <br>
                            客運112<br>
                            <br>
                            上午11:41<br>
                            <br>
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:125px" align="center" valign="center">
                            桃園車站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            板橋車站<br>
                            <br>
                    </td>
                        <td style="width:125px" align="center" valign="center">
                            上午11:46<br>
                            <br>
                            復興/區間1172<br>
                            <br>
                            下午12:12<br>
                            <br>
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:125px" align="center" valign="center">
                            板橋車站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            高鐵台中站<br>
                            <br>
                    </td>
                        <td style="width:125px" align="center" valign="center">
                            下午12:19<br>
                            <br>
                            高鐵825<br>
                            <br>
                            下午1:15<br>
                            <br>
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:125px" align="center" valign="center">
                            新烏日火車站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            臺中車站<br>
                            <br>
                    </td>
                        <td style="width:125px" align="center" valign="center">
                            下午1:25<br>
                            <br>
                            復興/區間2194<br>
                            <br>
                            下午1:37<br>
                            <br>
                    </td>
                </table>
                    <p>半票:  $344起
                </p>
                    <p><button name='route3' type='submit'> 路線3 </button>
                </p>
                </td>
                    <td style="width:250px" align="center" valign="center">
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:125px" align="center" valign="center">
                            桃園車站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                             板橋車站<br>
                            <br>
                    </td>
                        <td style="width:125px" align="center" valign="center">
                            上午11:46<br>
                            <br>
                            復興/區間1172<br>
                            <br>
                            下午12:12<br>
                            <br>
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:125px" align="center" valign="center">
                            板橋車站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            高鐵台中站<br>
                            <br>
                    </td>
                        <td style="width:125px" align="center" valign="center">
                            下午12:19<br>
                            <br>
                            高鐵825<br>
                            <br>
                            下午1:15<br>
                            <br>
                    </td>
                </table>
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:125px" align="center" valign="center">
                            新烏日火車站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            臺中車站<br>
                            <br>
                    </td>
                        <td style="width:125px" align="center" valign="center">
                            下午1:25<br>
                            <br>
                            復興/區間2194<br>
                            <br>
                            下午1:37<br>
                            <br>
                    </td>
                </table>
                    <p>半票:  $344起
                </p>
                    <p><button name='route4' type='submit'> 路線4 </button>
                </p>
                </td>