
                    <td style="width:250px" align="center" valign="center">
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:125px" align="center" valign="center">
                            松山車站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            九份老街<br>
                            <br>
                    </td>
                        <td style="width:125px" align="center" valign="center">
                            下午3:23<br>
                            <br>
                            客運1062<br>
                            <br>
                            下午4:10<br>
                            <br>
                    </td>
                </table>
                    <p>全票:  $85起
                </p>
                    <p><button name='route' type='submit' value='1'> 路線1 </button>
                </p>
                </td>
                    <td style="width:250px" align="center" valign="center">
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:125px" align="center" valign="center">
                            捷運忠孝復興站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            九份老街<br>
                            <br>
                    </td>
                        <td style="width:125px" align="center" valign="center">
                            下午3:07<br>
                            <br>
                            客運1062<br>
                            <br>
                            下午4:02<br>
                            <br>
                    </td>
                </table>
                    <p>全票:  $101起
                </p>
                    <p><button name='route' type='submit' value='1'> 路線2 </button>
                </p>
                </td>
                    <td style="width:250px" align="center" valign="center">
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:125px" align="center" valign="center">
                            臺安醫院<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            九份老街<br>
                            <br>
                    </td>
                        <td style="width:125px" align="center" valign="center">
                            下午3:25<br>
                            <br>
                            客運1062<br>
                            <br>
                            下午4:17<br>
                            <br>
                    </td>
                </table>
                    <p>全票:  $101起
                </p>
                    <p><button name='route' type='submit' value='1'> 路線3 </button>
                </p>
                </td>
                    <td style="width:250px" align="center" valign="center">
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:125px" align="center" valign="center">
                            汐科車站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            瑞芳車站<br>
                            <br>
                    </td>
                        <td style="width:125px" align="center" valign="center">
                            下午3:42<br>
                            <br>
                            復興/區間4208<br>
                            <br>
                            下午4:13<br>
                            <br>
                    </td>
                </table>
                    <p>全票:  $29起
                </p>
                    <p><button name='route' type='submit' value='1'> 路線4 </button>
                </p>
                </td>