
                    <td style="width:400px" align="center">
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            台北車站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            新左營站<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午2:31<br>
                            <br>
                            高鐵137<br>
                            <br>
                            下午4:05<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            {'標準車廂': 1490, '商務車廂': 2440, '自由座': 1445}
                    </td>
                </table>
            <p valign="bottom">
                <table style="width:400px" align="left">
                            票種:   全票<br>
                            總價:   [1490, 2440, 1445]<br>
            </table>
        </p>
                    <td style="width:400px" align="center">
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            台北車站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            新左營站<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午2:46<br>
                            <br>
                            高鐵651<br>
                            <br>
                            下午4:45<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            {'標準車廂': 1490, '商務車廂': 2440, '自由座': 1445}
                    </td>
                </table>
            <p valign="bottom">
                <table style="width:400px" align="left">
                            票種:   全票<br>
                            總價:   [1490, 2440, 1445]<br>
            </table>
        </p>
                    <td style="width:400px" align="center">
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            台北車站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            新左營站<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午3:31<br>
                            <br>
                            高鐵141<br>
                            <br>
                            下午5:05<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            {'標準車廂': 1490, '商務車廂': 2440, '自由座': 1445}
                    </td>
                </table>
            <p valign="bottom">
                <table style="width:400px" align="left">
                            票種:   全票<br>
                            總價:   [1490, 2440, 1445]<br>
            </table>
        </p>
                    <td style="width:400px" align="center">
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:100px" align="center">
                            台北車站<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            新左營站<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center">
                            下午3:46<br>
                            <br>
                            高鐵657<br>
                            <br>
                            下午5:45<br>
                            <br>
                    </td>
                        <td style="width:200px" align="center">
                            {'標準車廂': 1490, '商務車廂': 2440, '自由座': 1445}
                    </td>
                </table>
            <p valign="bottom">
                <table style="width:400px" align="left">
                            票種:   全票<br>
                            總價:   [1490, 2440, 1445]<br>
            </table>
        </p>