
                    <table style="border:1px white;background-color:#f2f2f2;" align="center" border='0'>
                        <td style="width:150px" align="center" valign="center">
                            startstation<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            &emsp;&emsp;|<br>
                            endstation<br>
                            <br>
                    </td>
                        <td style="width:150px" align="center" valign="center">
                            starttime<br>
                            <br>
                            transtype<br>
                            <br>
                            endtime<br>
                            <br>
                    </td>
                        <td style="width:100px" align="center" valign="center">
                            transprice
                    </td>
                </table>